---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Hero from '../../components/Hero.astro'
import Feature from '../../components/Feature.astro'
import Counter from '../../components/Counter.astro'
import ContentMedia from '../../components/ContentMedia.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import amanda from '../../assets/img/amanda-morris.png';
import hannah from '../../assets/img/hannah-wise.jpeg';
import emyle from '../../assets/img/emyle-watkins.png';
import eric from '../../assets/img/eric-garcia.jpg';
import kate from '../../assets/img/kate-guarino.jpeg';
import shruti from '../../assets/img/shruti-rajkumar.jpeg';
import sara from '../../assets/img/sara-luterman.jpeg';
import { BRAND } from 'astro:schema'
---
<DefaultLayout title="Policies">
    <div class="container"><h2 class="mb-16 text-6xl">Policies</h2> </div>

        <div class="container">
          <Accordion>
            <AccordionItem name="exclusive" title="Editorial Independence Policy">
              <p>
                Our organization retains full authority over our content to protect the best journalistic and business interests of our organization. Sources of all revenue will not have any impact on any of our editorial decisions or content. Acceptance of financial support does not constitute implied or actual endorsement of donors or their products, services or opinions.</p>    
              </br><p>
                We accept gifts, grants and sponsorships from individuals and organizations for the general support of our activities, but our content is produced independently and not on the basis of donor support. 
            </p></br><p>
                Our organization may consider donations to support specific programs, including our resource center publications, but our organization maintains editorial control of the content or programs we produce. We will cede no right of review or influence of editorial content, nor of unauthorized distribution of editorial content.
            </p></br><p>
                Our organization will make public all revenue sources and donors who give a total of $5,000 or more per year. We will accept anonymous donations for general support only if it is clear that sufficient safeguards have been put into place that the expenditure of that donation is made independently by our organization and in compliance with INN’s Membership Standards. We commit to ensuring that no more than 15% of our revenue comes from anonymous sources.
              </p>
            </AccordionItem>
            <AccordionItem name="exclusive" title="Donor & Financial Transparency policy">
              <p>
                We are committed to transparency in every aspect of funding our organization.
            </p></br><p>
                Accepting financial support does not mean we endorse donors or their products, services or opinions.
            </p></br><p>
                We accept gifts, grants, donations and sponsorships from individuals, organizations and foundations to help with our general operations and projects to advance our mission. As a nonprofit that operates as a public trust, we do not pay certain taxes. We may receive funds from standard government programs offered to nonprofits or similar businesses.
            </p></br><p>
                Our organization is to be run independently and make decisions independently – not based on or influenced by donors or any revenue source. We do not give supporters the rights to review, influence or edit any of our content – including public statements, trainings, presentations and produced materials.
            </p></br><p>
                We make public all revenue sources and donors who give $5,000 or more per year. As a journalistic nonprofit, we avoid accepting charitable donations from government entities, political parties, elected officials or candidates seeking public office. We commit to making sure that no more than 15% of our revenue will come from anonymous sources. We will not accept donations from sources who, deemed by our board of directors, present a conflict of interest with our work or compromise our independence.
              </p>
            </AccordionItem>
            <AccordionItem name="exclusive" title="Conflict of Interest Policies">
              <p>
                The following Conflict of Interest Policy is an effort (i) to ensure that the deliberations and decisions of the Society of Disabled Journalists (SDJ) are made solely in the interest of promoting the organization’s mission of supporting disabled journalists through connection and collaboration and encouraging better representation of disability in news coverage and in newsrooms around the United States and (ii) to protect the interests of SDJ when it considers any transaction, contract, or arrangement that might benefit or be perceived to benefit the private interest of a person affiliated with SDJ (each, a “SDJ Representative”).
            </p></br><p>
As used in this Conflict of Interest Policy, a SDJ Representative includes any director, advisory board member, financial advisor, legal counsel or employee.
</p></br><p>
<b>Duty to SDJ.</b>
</p></br><p>
Each SDJ Representative owes a duty to SDJ to advance SDJ’s legitimate interests when the opportunity to do so arises. Each SDJ Representative must give undivided allegiance when making decisions affecting the organization. Similarly, SDJ Representatives must be faithful to SDJ’s nonprofit mission and are not permitted to act in a way that is inconsistent with the central goals of the organization and its nonprofit status.
</p></br><p>
<b>Gifts.</b>
</p></br><p>
No SDJ Representative shall personally accept gifts or favors that could compromise his or her loyalty to SDJ. Any gifts or benefits personally accepted from a party having a material interest in the outcome of SDJ or its employees by a SDJ Representative individually should be merely incidental to his or her role as an SDJ Representative and should not be of substantial value. Any gift with a value of $250 or more, or any gifts with a cumulative value in excess of $250 received by an SDJ Representative in any twelve-month period from a single source, shall be considered substantial. Cash payments may not be accepted, and no gifts should be accepted if there are strings attached. For example, no SDJ Representative may accept gifts if he or she or they knows that such gifts are being given to solicit his or her support of or opposition to the outcome or content of any SDJ publication or program.
</p></br><p>
<b>Conflicts of Interest.</b>
</p></br><p>
The following are examples of conflicts of interest which must be promptly disclosed to the SDJ Board of Directors pursuant to Section 4 below by any SDJ Representative with knowledge of such conflict of interest:
</p></br><p>(a) any real or apparent conflict of interest between a donor or the subject of an SDJ publication ,report or program and an SDJ Representative;
</p></br><p>(b) an SDJ Representative’s ownership of an equity interest in a person or entity that is or will be the subject of an SDJ publication,report or program; and
</p></br><p>(c) failure to disclose to SDJ all relationships between the subject of any SDJ publication,report or program and any SDJ Representative or close relatives of the SDJ Representative.
</p></br><p>
<b>Conflict Procedure:</b>
</p></br><p>
(a) If an SDJ Representative or party related to an SDJ Representative has an interest in any contract, action or transaction to be entered into with SDJ, a conflict of interest or potential conflict of interest exists. Any SDJ Representative having knowledge that such a conflict of interest exists or may exist (an “Interested SDJ Representative”) will advise the Board of Directors promptly. An Interested SDJ Representative will include in the notice the material facts as to the relationship or interest of the Interested SDJ Representative in the entity proposing to enter into a contract, action or transaction with SDJ.
</p></br><p>
(b) Notwithstanding anything herein to the contrary, the Board of Directors may authorize any committee appointed pursuant to the SDJ by-laws (a “Committee”) to act in lieu of the Board of Directors in determining whether an action, contract or transaction is fair to SDJ as of the time it is authorized or approved by the Committee.
</p></br><p>
(c) At any time that a conflict of interest or potential conflict of interest is identified, the Executive Director of the Board or a Chair of the applicable Committee will ensure that such conflict of interest is placed on the agenda for the next meeting of the Board of Directors or the Committee, as applicable. The notice of such meeting of the Board of Directors or the Committee, as applicable, will include, to the extent available when the notice is sent, a description of the conflict of interest matter to be discussed. By notice before the meeting or at the meeting, the directors on the board or the Committee, as applicable, will be advised that a vote will be taken at the meeting and that, in order to authorize the relevant contract, action or transaction, an affirmative vote of a majority of disinterested directors present at the meeting at which a quorum is present will be required and will be sufficient, even though the disinterested directors constitute less than a quorum of the Board of Directors or the Committee.
</p></br><p>
(d) Reasonable effort will be made to cause the material facts concerning the relationship between the parties of the potential conflict of interest to be delivered to and shared with the SDJ Board of Directors or the Committee, as applicable, prior to the meeting to enable the directors to arrive at the meeting prepared to discuss the issue. In the event it is not practicable to deliver the information prior to the meeting, it will be delivered to the directors at the meeting, and the directors can act upon the matter with the same authority as if notice had been given prior to the meeting.
</p></br><p>
(e) The Board of Directors or the Committee, as applicable, will invite all parties to the conflict of interest to attend the meeting, to make presentations and to be prepared to answer questions, if necessary. The Board or Directors or the Committee, as applicable, will also invite outside experts if necessary.
</p></br><p>
(f) At the meeting, providing a quorum is present, the conflict will be discussed to ensure that the directors present are aware of the issues and the factors involved. The interested directors may be counted for purposes of a quorum, even though they may not take part in any vote on the issues.
</p></br><p>
(g) The Board of Directors or the Committee, as applicable, must decide, in good faith, reasonably justified by the material facts, whether the action, contract or transaction would be in the best interest of SDJ and fair to SDJ as of the time it is authorized or approved.
</p></br><p>
(h) All interested directors must abstain from voting and, if necessary, leave the room when the vote is taken.
</p></br><p>
(i) The Board of Directors or the Committee, as applicable, will maintain a written account of all that transpires at the meeting and incorporate such account into the minutes of the meeting and disseminate it to the full Board of Directors. Such minutes will be presented for approval at the next meeting of the Board of Directors and maintained in official records.
</p></br><p>
(j) To the extent that the conflict of interest is continuing and the contract, action or transaction goes beyond one (1) year, the foregoing notice and discussion and vote will be repeated on an annual basis.
</p></br><p>
<b>Personal Loans.</b>
</p></br><p>
SDJ may not loan to, or guarantee the personal obligations of, any SDJ Representative.
              </p>
            </AccordionItem>

          </Accordion>
        </div>


</DefaultLayout>