@use './mixins' as *;

$colors: (
  primary: (
    100: hsl(51, 100%, 55%),
    200: hsl(200, 100%, 26%),
    300: hsl(200, 100%, 26%),
    400: hsl(200, 100%, 26%),
    500: hsl(200, 100%, 26%),
  ),
  secondary: (
    100: hsl(51, 100%, 55%),
    200: hsl(200, 100%, 26%),
    300: hsl(200, 100%, 26%),
    400: hsl(200, 100%, 26%),
    500: hsl(200, 100%, 26%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(0, 0%, 0%),
  ),
);

.button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all var(--animation-speed-fast) var(--cubic-bezier);
  cursor: pointer;
  border: 3px solid light-dark(var(--color-primary-200), var(--color-primary-100));
  border-radius: var(--radius-s);
  background-color: light-dark(var(--color-primary-200), var(--color-primary-100));
  padding: var(--space-xs) var(--space-s);
  inline-size: fit-content;
  color: var(--color-neutral-900);
  font-weight: 700;

  @include text-decoration(transparent, currentColor);

  &:where(:hover, :focus-visible) {
    border-color: light-dark(var(--color-primary-300), var(--color-primary-300));
    background-color: light-dark(var(--color-primary-300), var(--color-primary-300));
    text-decoration-thickness: 2px;
  }

  &.color-secondary {
    border-color: light-dark(var(--color-secondary-100), var(--color-secondary-100));
    background-color: light-dark(var(--color-secondary-100), var(--color-secondary-100));

    &:where(:hover, :focus-visible) {
      border-color: light-dark(var(--color-secondary-300), var(--color-secondary-300));
      background-color: light-dark(var(--color-secondary-300), var(--color-secondary-300));
    }
  }

  &.has-icon {
    display: flex;
    align-items: center;
    gap: var(--space-2xs);

    [data-icon] {
      inline-size: 30px;
      block-size: auto;
    }

    &:where(:hover, :focus-visible) {
      [data-icon] {
        animation: boop 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
      }
    }
  }
}
