---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Hero from '../../components/Hero.astro'
import Feature from '../../components/Feature.astro'
import Counter from '../../components/Counter.astro'
import ContentMedia from '../../components/ContentMedia.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import amanda from '../../assets/img/amanda-morris.png';
import hannah from '../../assets/img/hannah-wise.jpeg';
import emyle from '../../assets/img/emyle-watkins.png';
import eric from '../../assets/img/eric-garcia.jpg';
import kate from '../../assets/img/kate-guarino.jpeg';
import shruti from '../../assets/img/shruti-rajkumar.jpeg';
import sara from '../../assets/img/sara-luterman.jpeg';
import { BRAND } from 'astro:schema'
---
<DefaultLayout title="Join">
    <div class="container"><h2 class="mb-16 text-6xl">Join</h2> </div>
    <div class="container">
        <p>SDJ aims to be an inclusive community and offers several different categories of paid membership. Membership fees support SDJ’s operational budget, which covers the costs of website fees, maintaining the Slack, legal fees and programs.
    </p></br>
    <p> Benefits of becoming a member include X, Y, Z.
    </p></br>
    <p>   However, we recognize that not everyone is able to afford membership fees and have created a separate application for individuals to apply for reduced or free membership.
    </p></br>
    <p>   Not sure what type of membership fits you best? Learn more about our membership categories below.
    </p></br>

    </div>

        <div class="container">
          <Accordion>
            <AccordionItem name="exclusive" title="Full Membership">
              <p>
                Full membership is available to those who receive a majority of their income from or spend the majority of their work time involved in journalistic work. This includes freelance work, part time work or full time work for newspapers, magazines, wire services, radio stations or networks, television stations or networks, cable outlets, online-only news organizations, and other bonafide news organizations. Accepted journalistic work includes reporting, writing, editing, fact-checking, photography, anchoring, producing, directing, research, design, teaching journalism and other functions that have direct impact on the gathering or presentation of the news (such as social media). Full membership is not meant for people in public relations, political advocacy or other media careers.
            </p><p>
Full membership is also available to journalists who are currently between jobs, including those who are freelancing. Temporarily unemployed journalists are eligible for free membership or reduced dues for the first three years they are unemployed through a special application. 
</p><p>
Full members who take a medical leave of absence from journalism or working are eligible to stay in this category for at least three years if they were a full member in good standing for at least one year before the leave of absence and if they are not currently spending a majority of their time on non-journalistic work. 
</p><p>
Full members experiencing financial hardship (such as those who may be temporarily laid off or facing many medical bills), are eligible for reduced fees or free membership through a separate application.
</p><p>
Full members are able to vote on issues presented to members. Full members are eligible to hold office in the organization.
              </p>
            </AccordionItem>
            <AccordionItem name="exclusive" title="Student Membership">
              <p>
                Student membership is available to enrolled undergraduate, or graduate students who intend to pursue a career in journalism. Student members may participate on committees and attend meetings, but they may not hold office or vote.
</p><p>
Student memberships shall be priced lower than a full membership. Student membership is also available to recent graduates who have yet to obtain their first job. Once they get their first job, they must become full or associate members.
              </p>
            </AccordionItem>
            <AccordionItem name="exclusive" title="Associate Membership">
                <p>
                    Associate Membership is available to persons who meet all of the following criteria: at some point in the past, the person worked full-time or part-time as a journalist; the person has clearly demonstrated support for disabled journalists and the mission of improving news coverage around disability to be more truthful, accurate and representative. Associate membership is open to non-disabled allies.
</p><p>
                    Associate members cannot vote on issues and cannot hold office.
                </p>
              </AccordionItem>
              <AccordionItem name="exclusive" title="Retired Membership">
                <p>
                    Retired membership is available to persons aged 62 and over who have previously worked full time or part time as a journalist. Retired members shall be non-voting members and cannot hold office. Retired membership shall cost less than a full membership.
                </p>
              </AccordionItem>
        

          </Accordion>
        </div>


</DefaultLayout>