---
import CallToAction from './CallToAction.astro'
import ExternalLink from './ExternalLink.astro'
import Logo from './Logo.astro'

/**
 * Footer Component
 *
 * @description A component that displays the footer of the website
 */
const currentYear = new Date().getFullYear()
---


<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Society of Disabled Journalists</a
        >
      </p>
    </div>
  </section>
</footer>

<style>
  section {
    border-top: 1px solid var(--border-color-subtle);
  }
</style>
