---
import DefaultLayout from '../../layouts/DefaultLayout.astro'
import Hero from '../../components/Hero.astro'
import Feature from '../../components/Feature.astro'
import Counter from '../../components/Counter.astro'
import ContentMedia from '../../components/ContentMedia.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import amanda from '../../assets/img/amanda-morris.png';
import hannah from '../../assets/img/hannah-wise.jpeg';
import emyle from '../../assets/img/emyle-watkins.png';
import eric from '../../assets/img/eric-garcia.jpg';
import kate from '../../assets/img/kate-guarino.jpeg';
import shruti from '../../assets/img/shruti-rajkumar.jpeg';
import sara from '../../assets/img/sara-luterman.jpeg';
import { BRAND } from 'astro:schema'
---
<DefaultLayout title="Governance">
    <div class="container"><h2 class="mb-16 text-6xl">Governance</h2> </div>

        <div class="container">
          <Accordion>
            <AccordionItem name="exclusive" title="Bylaws">
              <p>
                **insert here once they are finalized**
              </p>
            </AccordionItem>
            <AccordionItem name="exclusive" title="Code of Ethics">
              <p>
                **insert here once it is finalized**
              </p>
            </AccordionItem>
        

          </Accordion>
        </div>


</DefaultLayout>